body {
    background-image: url('img/back06.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Bruno Ace SC', cursive;
}

nav {
    background-color: #333;
    color: #f7f9f7;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(240, 7, 240);
}

.logo01 {
    background-image: url('img/logo_trans.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 200px;
    position: absolute;
    top: 500px;
    left: 1200px;
   
}

.logo02 {
    background-image: url('img/schrift_trans.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 750px;
    left: 950px;
   
}
.logo03 {
        background-image: url('img/logo_trans.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 500px;
        width: 200px;
        position: absolute;
        top: 500px;
        left: 1200px;
    }
h1 {
    color: rgb(241, 195, 9);
    text-align: center;
}
p {
color: rgb(6, 246, 218);
text-align: center;
}
.cars {
    padding-left: 170px;
    padding-right: 150px;
}
  